<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${SENSE_APP_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${SENSE_APP_ID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>is.hello.sense</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sense</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is needed for Sense to better understand your sleep environment.</string>
	<key>SenseAllowSupportOptions</key>
	<string>${SENSE_SUPPORT_OPTIONS}</string>
	<key>SenseAnalyticsToken</key>
	<string>${SENSE_ANALYTICS_TOKEN}</string>
	<key>SenseApiUrl</key>
	<string>${SENSE_API_URL}</string>
	<key>SenseClientId</key>
	<string>${SENSE_CLIENT_ID}</string>
	<key>SenseCrashReportsToken</key>
	<string>${SENSE_CRASH_REPORTS_TOKEN}</string>
	<key>SenseZendeskClientId</key>
	<string>${SENSE_ZENDESK_CLIENT_ID}</string>
	<key>SenseZendeskToken</key>
	<string>${SENSE_ZENDESK_TOKEN}</string>
	<key>SenseZendeskURL</key>
	<string>${SENSE_ZENDESK_URL}</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>bluetooth-le</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
