<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${SENSE_APP_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>is.hello.sense</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sense</string>
				<string>fb372438546161587</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4.4.4</string>
	<key>FacebookAppID</key>
	<string>372438546161587</string>
	<key>FacebookDisplayName</key>
	<string>Hello</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>hello.is</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>hellocdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>s3.amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>zdassets.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>zencdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is needed for Sense to better understand your sleep environment.</string>
	<key>SenseAllowSupportOptions</key>
	<string>${SENSE_SUPPORT_OPTIONS}</string>
	<key>SenseAnalyticsToken</key>
	<string>${SENSE_ANALYTICS_TOKEN}</string>
	<key>SenseApiUrl</key>
	<string>${SENSE_API_URL}</string>
	<key>SenseAppReviewURL</key>
	<string>${SENSE_APP_REVIEW_URL}</string>
	<key>SenseClientId</key>
	<string>${SENSE_CLIENT_ID}</string>
	<key>SenseCrashReportToken</key>
	<string>${SENSE_CRASH_REPORT_TOKEN}</string>
	<key>SenseEnvironment</key>
	<string>${SENSE_ENV}</string>
	<key>SensePasswordResetURL</key>
	<string>${SENSE_PASSWORD_RESET_URL}</string>
	<key>SenseZendeskClientId</key>
	<string>${SENSE_ZENDESK_CLIENT_ID}</string>
	<key>SenseZendeskToken</key>
	<string>${SENSE_ZENDESK_TOKEN}</string>
	<key>SenseZendeskURL</key>
	<string>${SENSE_ZENDESK_URL}</string>
	<key>PillFirmwareURL</key>
	<string>${PILL_FIRMWARE_URL}</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNext-Light.ttf</string>
		<string>AvenirNext-LightItalic.ttf</string>
		<string>AvenirNext-Thin.ttf</string>
		<string>AvenirNext-ThinItalic.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-new-alarm</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Alarm</string>
			<key>UIApplicationShortcutItemType</key>
			<string>is.hello.sense.shortcut.addalarm</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>shortcut-alarm-list</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Alarms</string>
			<key>UIApplicationShortcutItemType</key>
			<string>is.hello.sense.shortcut.editalarms</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>bluetooth-le</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
